

.vertical-menu {
    width: 300px; 
}

    .vertical-menu a {
        background-color: #eee;
        color: black; 
        display: block; 
        padding: 22px; 
        text-decoration: none; 
    }

        .vertical-menu a:hover {
            background-color: #ccc; 
        }


#firstCol {
    background-color: black;
}
