

.vertical-menu {
    width: 300px; 
}

    .vertical-menu a {
        background-color: #eee;
        color: black; 
        display: block; 
        padding: 22px; 
        text-decoration: none; 
    }

        .vertical-menu a:hover {
            background-color: #ccc; 
        }

/*sourced from w3schools.com */
#firstCol {
    background-color: black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
/*sourced from w3schools.com */